body {
  background-color: whitesmoke;
}

.card-img-top {
  width: 220px;
  display: block;
  float: right;
}

.card {
  margin: 5px 5px 5px 5px;
}

.note {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}