body {
  background-color: whitesmoke;
}

header {
  padding: 20px 0px 10px 0px;
}

header>h1 {
  color: #00008b;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header>p {
  color: #023e8a;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
}

.card-img-top {
  width: 220px;
  display: block;
  float: right;
}

.card {
  margin: 5px 5px 5px 5px;
  background-color: #f8f7ff;
}

.card-title {
  text-align: center;
  color: #5c5dc0;
  font-style: italic;
  padding: 5px 0px 5px 0px;
}

.card-text {
  padding: 5px 0px 2px 8px;
}

a {
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.note {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.card-text>.note {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: larger;
}

.back {
  font-weight: bolder;
  color: #523a3a;
}

#hesitate {
  text-align: center;
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border: rgb(196, 193, 193) 2px solid;
  border-radius: 10px;
  background-color: #dad0cc;
}

footer>p {
  padding-top: 5px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}